.login__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  width: 80%;
}
label {
  float: left;
}
.f__pass {
  color: green;
  float: right;
}
.input {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;
}
.login__btn {
  width: 95%;
  font-size: 22px;
  padding: 7px;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #4cc446;
  color: white;
}
