* {
  padding: 0;
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img__box {
  flex: 1;
}
.form__box {
  flex: 1;
}
